<div ng-show="error" class="alert alert-danger alert-dismissable" role="alert">
    {{error}}
</div>
<div ng-show="recipeForm.title.$invalid" class="alert alert-danger" ng-messages="recipeForm.title.$error">
    <div ng-message="required">This recipe title is required</div>
</div>
<div ng-show="recipe">
    <form class="form-horizontal" role="form" novalidate name="recipeForm">
        <div class="form-group">
            <div class="col-xs-12">
                <input id="title" name="title" type="text" ng-model="recipe.title" required class="form-control" placeholder="Recipe title" title="Enter recipe title" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5">
                <select id="category" class="form-control" ng-options="c.value as c.label for c in categories" ng-model="recipe.category"></select>
            </div>
            <div class="col-xs-7">
                <input id="source" type="text" class="form-control" ng-model="recipe.source" placeholder="Source of this recipe" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <textarea id="instructions" class="form-control" rows="10" cols="20" placeholder="Instructions" ng-model="recipe.instructions"></textarea>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-show="recipe" ng-click="saveRecipe();" ng-disabled="recipeForm.$invalid" type="button">Save</button>
    <button class="btn btn-primary" onclick="location.href='/Home/CookbookTs'" type="button">Cancel</button>
</div>
