<div>
    <form class="form-horizontal" role="form" name="recipeForm">
        <div class="form-group">
            <div class="col-xs-12">
                <input id="title" type="text" ng-model="recipe.title" class="form-control" placeholder="Recipe title" required title="Enter recipe title" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5">
                <select id="category" class="form-control" ng-options="c.value as c.label for c in categories" ng-model="recipe.category"></select>
            </div>
            <div class="col-xs-7">
                <input id="source" type="text" class="form-control" ng-model="recipe.source" placeholder="Source of this recipe" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <textarea id="instructions" class="form-control" rows="10" cols="20" placeholder="Instructions" ng-model="recipe.instructions"></textarea>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addRecipe();" type="button">Save</button>
    <button class="btn btn-primary" onclick="location.href='/Home/CookbookTs'" type="button">Cancel</button>
</div>
