@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Steve Trofemuk</h1>
    <p class="lead">Senior Application Developer</p>
    <p>
        This project exists as a type of business card.  It contains a simple C# project that has been 
        implemented as both an AngularJs/Web API single page application and an MVC application.<br />
        Project Details:
        <ul>
            <li>The application uses Entity Framework on the backend with data migrations enabled. 
                The database should create itself when the application is run for the first time. </li>
            <li>This application uses a "code first" approach with optomistic locking.</li>
            <li>The controllers are synchronous.</li>
            <li>The Unit Test are for the controllers only.</li>
        </ul>
    </p>
    <p><a href="https://www.linkedin.com/in/trofemuk/" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>