@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THN.v5</h1>
    <p class="lead">Welcome to the Trofemuk Household Network (THN)</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>History</h2>
        <p>
            Originally, THN was conceived as a college project investigating home automation.  
            Built with Visual Basic and using X10 hardware, the client/server system allowed 
            home automation control from any computer on the network.  Eventually, other apps 
            were written including a calendar, an address book, and a cookbook.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Current</h2>
        <p>
            THN is no longer in use.  The system has been surpassed by existing free services
            such as Google Calendar and GMail.  What remains is the cookbook as there is as yet
            no good replacement.  I also use the code as a way of investigating new technologies
            in my choosen profession.        
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Details</h2>
        <p>
            The cookbook is implemented using a C# Web API with an AngularJS front end.
            The system uses Entity Framework following the code-first pattern.  The cookbook
            is hosted on an ASP.NET MVC page as a AngularJS SPA themed with Bootstrap. I plan 
            to implement Android and possibly IOS clients as well.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>